<div class='row'>
	<% @products.each do |product| %>
		<div class='col-md-3'>
			<strong><%= product.name %></strong></br>
			Price: <%= number_to_currency(product.price,unit: "&pound;",precision: 2) %>
		</div>
	<% end %>
	Clients: <%=@clients%>
</div>